<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://play-lh.googleusercontent.com/zfzRXIWPB5T1AZzv2JkicNnPkcRe0hr6ppFqFtDOAIFwPngUcdg05IVKjpPR30gx7CmC" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Add a Movie", new_list_bookmark_path(@list), :class => "btn btn-primary" %>
            <%= link_to 'Remove List', list_path(@list), data: { turbo_method: :delete, turbo_confirm: 'You sure...? ðŸ§' },:class => "btn btn-primary" %>

          </li>
      </ul>
    </div>
  </div>
</div>

<div class="list-name">
<h1><%= @list.name %></h1>
</div>



<div class="flex">
  <% @list.bookmarks.each do |bookmark| %>
  <div class="card-trip">
    <img src="<%= bookmark.movie.poster_url %>" />
    <div class="card-trip-infos">
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.movie.overview %></p>
        <li><%= bookmark.comment %><i class="fa-solid fa-quote-right"></i></li>
    </div>
  </div>
  <% end %>
</div>
